/* Navbar stílusok */
.navbar {
    background-color: #222222;
    /* Sötét háttér */
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

/* Linkek stílusai */
.navbar-nav .nav-link {
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #ff5f57;
    /* Élénk piros szín hover hatásra */
    color: #fff;
}

/* Mobil nézet: gombok függőleges elrendezése */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .navbar-nav .nav-link {
        padding: 15px;
        font-size: 18px;
        text-align: center;
    }
}

/* Animáció, amikor a navbar betöltődik */
.navbar {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Növeljük a p elemek betűméretét és margóit */
.bejelentkezes_cim {
    font-size: 18px; /* Növeljük a betűméretet */
    margin-bottom: 10px; /* Kisebb távolság a p elemek között */
  }
  
  /* Növeljük az input mezők méretét és a betűméretet */
  .bejelentkezes_input {
    width: 30%; /* 100%-os szélesség */
    padding: 12px 20px; /* Növelt padding */
    font-size: 16px; /* Növelt betűméret */
    border: 2px solid #ccc; /* Szürke keret */
    border-radius: 5px; /* Lekerekített sarkok */
    margin-bottom: 20px; /* Kisebb távolság az input mezők között */
  }



/* Alap stílus a gombhoz */
#Bejelentkezes_gomb {
    background-color: #4CAF50;
    /* Zöld háttér */
    color: white;
    /* Fehér szöveg */
    border: none;
    /* Nincs keret */
    padding: 15px 32px;
    /* Növelt padding */
    text-align: center;
    /* Igazítás középre */
    font-size: 16px;
    /* Betűméret */
    cursor: pointer;
    /* Kézmutató kurzor */
    border-radius: 8px;
    /* Lekerekített sarkok */
    transition: all 0.3s ease;
    /* Szép animáció minden változáshoz */
}

/* Hover effektus, amikor az egér a gomb fölé kerül */
#Bejelentkezes_gomb:hover {
    background-color: #45a049;
    /* Sötétebb zöld */
    transform: scale(1.1);
    /* Növeli a méretet */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Árnyék */
}

/* A gomb fókuszálása, ha rákattintunk */
#Bejelentkezes_gomb:focus {
    outline: none;
    /* Eltüntetjük a fókusz keretet */
    box-shadow: 0 0 10px #4CAF50;
    /* Zöld árnyék, hogy kiemeljük */
}